@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "poppins-extra-bold";
  src: url("/fonts/Poppins-ExtraBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins-bold";
  src: url("/fonts/Poppins-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins-semi-bold";
  src: url("/fonts/Poppins-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins-regular";
  src: url("/fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins-light-italic";
  src: url("/fonts/Poppins-LightItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins-extra-light-italic";
  src: url("/fonts/Poppins-ExtraLightItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

ul li {
  list-style: revert;
}

ul {
  list-style: unset !important;
  padding: revert !important;
}

.swiper-pagination-bullet {
  background: #1e5ec4 !important;
  width: 16px !important;
  height: 16px !important;
  opacity: 1 !important;
  transition: all 0.3s !important;
}

.swiper-pagination-bullet-active {
  background: #04193a !important;
}